{% comment %} <div class="product_variants">
    <div class="product-options">
        {% for option in product.options_with_values %}
            <label>{{option.name}}</label> <br>
            {% for value in option.values %}
                <input type="radiio" id="{{value.name |  downcase |  replace: '','_' }}" name="{{option.name |  downcase}}" value="{{value}}">
                <label for="{{value.name |  downcase |  replace: '','_' }}">{{value.name}}</label>
            {% endfor %}
        {% endfor %}
    </div>
    <select name="id" class="variants">
        {% for variant in product.variants %}
            <option value={{variant.id}}>{{variant.title}}</option>
        {% endfor %}
    </select>
</div> {% endcomment %}


<div class="product_variants">
  <select name="variant">
    {% for variant in product.variants %}
      <option value="{{variant.id}}">{{variant.title}}</option>
    {% endfor %}
  </select>
</div>