{% comment %} <div class="product_variants">
    <div class="product-options">
        {% for option in product.options_with_values %}
            <label>{{option.name}}</label> <br>
            {% for value in option.values %}
                <input type="radiio" id="{{value.name |  downcase |  replace: '','_' }}" name="{{option.name |  downcase}}" value="{{value}}">
                <label for="{{value.name |  downcase |  replace: '','_' }}">{{value.name}}</label>
            {% endfor %}
        {% endfor %}
    </div>
    <select name="id" class="variants">
        {% for variant in product.variants %}
            <option value={{variant.id}}>{{variant.title}}</option>
        {% endfor %}
    </select>
</div> {% endcomment %}


<div class="product_variants">
  {% if product.variants.size > 1 %} <!-- Only show if multiple variants exist -->
    <div class="product-options">
      <select name="id" id="variants">
        {% for variant in product.variants %}
          <option 
            value="{{ variant.id }}"
            {% if variant == product.selected_or_first_available_variant %}selected{% endif %}
          >
            {{ variant.title }} - {{ variant.price | money }}
          </option>
        {% endfor %}
      </select>
    </div>
  {% endif %}
</div>